@inherits ContentBlockBase

<div class="Page-container ContentBlock">
    <div class="Grid Grid--alignMiddle Grid--gutterA @ImageAlignment(ViewModel.ImageAlignment)">
        @if (ViewModel.Image != null)
        {

            <div class="Grid-cell u-md-size1of2">
                <ConditionalImage Src="@ViewModel.Image" Alt="@ViewModel.Title"></ConditionalImage>
            </div>
        }
        <div class="Grid-cell">
            <h2 data-epi-property-name="@State.EnableEditProperty("Title")">@ViewModel.Title</h2>
            <div data-epi-property-name="@State.EnableEditProperty("Content")">
                @((MarkupString)ViewModel.Content)
            </div>
            @if (ViewModel.Image == null)
            {
                <EpiProperty PropertyName="Image" />
            }

        </div>
    </div>

</div>

@code {
    [Inject]
    StateService State { get; set; }
}

